REACT_APP_API_URL=https://bll-backend.vercel.app #your backend api point
JWTPRIVATEKEY=janjbnsdiasdajsndjan #ur pwt key //just use a random one like given
SALT=1982918 #just a random number for the auth. you can use this example
USER=ur-email@gmail.com #your email for the notification sending (nodemailer)
PASS2=ajdhajsndkna
PASS=gmail_user_Password #Password for the email
DB=mongodb+srv://name:adadasdasd@cluster0.asasas.mongodb.net/Website #cluster string from mongodb for the connection