.data {
  display: flex;
  justify-content: space-evenly;
}
.sensordata {
  width: 100%;
  max-width: 250px;
  height: 100px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 40%),
    0px 3px 4px 0px rgb(0 0 0 / 24%), 0px 1px 8px 0px rgb(0 0 0 / 22%);
  background-color: #2c3e50;
  color: #ffffff;
  text-align: center;
}
.sensordata p,
.sensordata h2 {
  text-align: center;
}
.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.CalendarBox {
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.calendar-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.sensordata:hover {
  color: #111;
  background-color: #2c3e50;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 55%),
    0px 3px 4px 0px rgb(0 0 0 / 39%), 0px 1px 8px 0px rgb(0 0 0 / 37%);
}

/* The button used to open the sidebar */
.heading {
  text-align: center;
}
/* Beginning of the div specifications*/
.blue {
  text-align: center;
}
.loading {
  position: fixed;
  left: 46%;
  top: 50%;
}
@media (max-width: 767px) {
  /* Adjust the font size for sensordata on small screens */
  .sensordata p,
  .sensordata h2 {
    font-size: 14px;
  }
  .calendar-container {
    margin: 0 20px;
  }
}
