# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# logs
npm-debug.log*

# runtime data
.env


.DS_Store
Scripts/Hardware/squareLine
Scripts/Hardware/OTA_ESP32_SquareLine
Scripts/Hardware/OTA_Esp32/lib
/Website/client/.env
client/build
node_modules
