.hero_section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.white_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #2d8adb; /* 73a24e*/
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-right: 20px;
  color: black;
  position: absolute;
  top: 48px;
  right: 20px;
  z-index: 2;
}

.logo_and_heading {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row; /* Stack the items horizontally */
  align-items: center; /* Center the items vertically */
  z-index: 2; /* Ensure the elements are on top of the image */
}
.logo {
  width: 100px; /* Adjust as needed */
  height: auto;
  margin-right: 20px;
}

.project_name {
  color: #2d8adb;
  font-size: clamp(2.5rem, 3vw, 3.5rem);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a text shadow for emphasis */
  font-family: Orbitron;
}
.info3words {
  color: #2d8adb;
  font-size: clamp(3.5rem, 4vw, 4.5rem);
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: Orbitron; /* Replace with your desired font */
}
@media (max-width: 768px) {
  /* Adjust as needed */
  .logo_and_heading {
    flex-direction: column; /* Stack the items vertically on small screens */
    align-items: flex-start; /* Align the items to the start on small screens */
    margin-right: 0px;
  }

  .logo {
    margin-bottom: 20px; /* Add some space between the logo and the heading on small screens */
    width: 50px;
  }
  .project_name {
    font-size: 30px;
    margin-top: 30px;
  }
  .info3words {
    font-size: 50px;
    top: 350px; /* Adjust the value as needed */
  }
  .white_btn {
    font-size: 15px;
    top: 22px;
    right: 20px;
    width: 80px;
    margin-right: 7px;
  }
}
.hero_content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%) hue-rotate(240deg) contrast(120%); /* Adjust the brightness and hue-rotate values as needed */
  z-index: 1;
}

.info_section {
  background-color: white; /*#FBDE64*/
  padding: 40px;
  color: white;
  text-align: center;
}
.info_section:nth-child(odd) {
  background-color: #0c2340; /* Light gray for odd sections */
}

.info_section:nth-child(even) {
  background-color: #151e27; /* Darker gray for even sections */
  color: white;
}
.info_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.info_text {
  width: 40%;
  padding: 20px;
  text-align: left;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #39395f;
  color: #f5eec2;
  font-size: 18px; /* Increase the font size as desired */
  line-height: 1.5; /* Increase the line-height as desired */
  margin-bottom: 70px; /* Increase the margin-bottom as desired */
}

.info_text.vorteile {
  width: 40%; /* Set the width to 40 */
  height: 250px; /* Set the height to 250px */
  padding: 20px;
  text-align: left;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #39395f;
  color: #f5eec2;
  margin-left: auto; /* Align the box to the right */
}

.info_text h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #2d8adb;
}

.info_text p,
.info_text ul {
  font-size: 20px;
}

.info_text ul {
  margin-left: 20px;
}

.info_text li {
  margin-bottom: 10px;
}

.contact_section {
  padding: 50px 0;
  text-align: center;
  background-color: #f5eec2;
  color: #2d8adb;
}

.contact_section h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.info_text.contact_box {
  width: 40%; /* Set the width to 40 */
  height: 250px; /* Set the height to 250px */
  padding: 20px;
  text-align: left;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #39395f;
  color: #d4c040;
  margin-left: auto; /* Align the box to the right */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row; /* Stack the items horizontally */
}

.column {
  flex: 1; /* Make the items take up an equal amount of space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the items vertically */
  align-items: center; /* Center the items horizontally */
}

@media (max-width: 768px) {
  /* Adjust as needed */
  .row {
    flex-direction: column; /* Stack the items vertically on small screens */
  }
}
.contact_btn {
  border: none;
  outline: none;
  padding: 12px 30px;
  background-color: #2d8adb;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}

.footer {
  padding: 20px 0;
  text-align: center;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px; /* Adjust the height as desired */
  background-color: rgba(131, 54, 129);
}

.footer a {
  margin-right: 10px;
  color: #2d8adb;
}
