.diagramm {
  margin: 5%;
  margin-bottom: 10%;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.graph {
  color: #111;
  width: 100%; /* Adjust the height as desired */
  padding-bottom: 10px;
}

.chart canvas {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 768px) {
  .graph {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .graph {
    height: 200px;
  }
}

.blue {
  text-align: center;
}

.loading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.select {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.checkbox {
  text-align: center;
}
