.heading {
  text-align: center;
}
.alerts {
  padding-top: 10px;
  text-align: center;
  margin-top: 5%;
}
.date {
  margin-left: 20px;
  margin-top: 30px;
}
.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding-top: 10px;
}
.release_note {
  display: flex;
}

.release_note_date {
  width: 100px;
}
.messages {
  text-align: center;
  margin-top: 30px;
}
.box_container {
  padding-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 3%;
}
.box {
  position: relative;
  height: 150px;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 40%),
    0px 3px 4px 0px rgb(0 0 0 / 24%), 0px 1px 8px 0px rgb(0 0 0 / 22%);
  background-color: #2c3e50;
  color: #ffffff;
  text-align: center;
}
.deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: rgb(248, 94, 94);
  border: none;
  border-radius: 50%;
}
.delete_all {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  background-color: #0088ff;
  color: white;
  margin: 10px;
}
.delete_all:hover {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  background-color: #2c3e50;
  color: white;
  margin: 10px;
}
