.heading {
  text-align: center;
}

.alerts {
  text-align: center;
  margin-top: 5%;
}

.date {
  margin-left: 20px;
  margin-top: 30px;
}

.box {
  position: relative;
  width: 1050px;
  height: 150px;
  border-radius: 10px;
  margin-left: 10%;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 40%),
    0px 3px 4px 0px rgb(0 0 0 / 24%), 0px 1px 8px 0px rgb(0 0 0 / 22%);
  background-color: #ff37e4;
  color: #ffffff;
  text-align: center;
}

.deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: red;
  border: none;
  border-radius: 50%;
}
